<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" /> 
  
</head>
</html>

<body>
    <h1 class="titulo">Bienvenido a dash and dot</h1>

    <form method='post' action='/menu' class="botonTamanio" >
        <p for="size" class = "titulo">Ingresa el tamanio del mapa (3)(4)(5)</p>
        <input type='text'  name='size'>
        <input type="submit" value="INICIAR" class="boton">
    </form> 
</body>